@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html > body {
	font-family: 'Pretendard-Regular';
	text-underline-position: under;
}

.table-box-type > table {
	width: 100%;
	border-collapse: collapse; /* 테이블의 셀 간격을 제거합니다 */
}



.table-box-type > table th, .table-box-type > table td {
	border-left: none; /* 셀의 왼쪽 테두리를 제거합니다 */
    border-right: none; /* 셀의 오른쪽 테두리를 제거합니다 */
    border-top: 1px solid #ddd; /* 셀의 위쪽 테두리를 설정합니다 */
    border-bottom: 1px solid #ddd; /* 셀의 아래쪽 테두리를 설정합니다 */
	padding: 10px;
	text-align: center;
	
}

.table-box-type > table th {
	border-top: 3px solid #ddd;
	border-bottom: 3px solid #ddd; /* 셀의 아래쪽 테두리를 설정합니다 */
}
